
* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    border: none;
}

button {
    cursor: pointer;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

/* header */
header {
    height: 54px;
    width: 100%;
    background-color: #696969;
    display: flex;
    align-items: center;
    border:none;
    color: #ffffff;
    z-index: 100;
}

header .head {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.head a {
    text-decoration:none;
    color:#ffffff;
}

.title {
    width: 50px;
    height: 50px;
    background-image: url("/images/home_white_24dp.svg");
    background-repeat: no-repeat;
    background-size: 100%, contain;
}

.menu {
    display: flex;
    cursor: pointer;
}

.menu li span {
    margin: auto 10px;
    /* padding: auto 5px; */
}

.blockhide {
    display: none;
}

.mainicon {
    content: url("/images/assignment_white_24dp.svg");
}

.person {
    content: url("/images/account_circle_white_24dp.svg");
}

/* footer */
footer {
    width: 100%;
    display: flex;
    background-color: #696969;
    min-height: 50px;
    color: #ffffff;
}

footer div {
    margin: auto;
}