
input,button {
    border: 2px #000 solid;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin: 0 5px;
}

.imageedit {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="color"] {
    width: 50px;
}

.imagehead {
    display: flex;
}

.image-main {
    width: 512px;
    height: auto;
}