{% extends "base.html" %}

{% block title %}Medical Imaging{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block main %}
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1 imagetool p-2 border">
                <div id="palette" class="palette m-1 d-flex justify-content-center my-2">
                    <label class="d-flex">
                        <img src="/images/palette_black_24dp.svg" alt="" srcset="">
                        <input type="color" min="0" max="150" value="#0000FF" id="linecolor">  
                    </label>
                </div>
                <div id="rect" class="rect m-2 d-flex justify-content-center  my-2">
                    <button type="button">
                        <img src="/images/crop_square_black_24dp.svg" alt="" srcset="">
                    </button>
                </div>
            </div>
            <div class="col-md-8 imageedit p-2">
                <div class="imagehead m-2">
                    <form id="img-form">
                        <label>WW：<input id="ww" type="number" name="ww"></label>
                        <label>WL：<input id="wl" type="number" name="wl"></label>
                        <button type="button" id="image-inverse" name="image_inverse" value="1">Inverse</button>
                    </form>
                </div>
                <div class="image-canvas m-2">
                    <canvas class="image-main" id="image-main"></canvas>
                </div>
            </div>
            <div class="col-md-3 imagelabel p-2 border">
                <div class="m-2">
                    <button type="button" id="label_save" name="label_save">Save</button>
                    <button type="button" id="label_output" name="label_output">Output</button>
                </div>
                <div id="label-message" class="label-message m-2">
                    rectangle：top, left, height, width
                </div>
                <div id="label-data" class="label-data m-2">

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/customiseControls.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}