{% extends "base.html" %}

{% block title %}Medical Imaging{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block main %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-1">
                <div>
                    edit block
                </div>
            </div>
            <div class="col-md-8 imageedit">
                <div class="imagehead m-1">
                    <form action="">
                        <label>WW：<input id="ww" type="number"></label>
                        <label>WL：<input id="wl" type="number"></label>
                        <input type="button" value="Inverse">
                    </form>
                </div>
                <div>
                    <canvas id="imageedit" width="512px" height="512px"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    label data
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}