{% extends "base.html" %}

{% block title %}Medical Imaging{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block main %}
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1 imagetool p-2 border">
                <div id="palette" class="palette m-1 d-flex justify-content-center my-2">
                    <label class="d-flex">
                        <img src="/images/palette_black_24dp.svg" alt="" srcset="">
                        <input type="color" min="0" max="150" value="#0000FF" id="linecolor">  
                    </label>
                </div>
                <div id="rect" class="rect m-2 d-flex justify-content-center  my-2">
                    <button type="button">
                        <img src="/images/crop_square_black_24dp.svg" alt="" srcset="">
                    </button>
                </div>
            </div>
            <div class="col-md-8 imageedit p-2">
                <div class="imagehead m-2">
                    <form action="">
                        <label>WW：<input id="ww" type="number"></label>
                        <label>WL：<input id="wl" type="number"></label>
                        <button type="button" id="image-inverse" value="1">Inverse</button>
                    </form>
                </div>
                <div class="image-canvas m-2">
                    <canvas class="image-main" id="image-main"></canvas>
                </div>
            </div>
            <div class="col-md-3 imagelabel p-2 border">
                <div>
                    label data
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/customiseControls.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}