{% extends "base.html" %}

{% block title %}Member{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css')}}">
{% endblock %}

{% block main %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="d-flex m-2">
                <input type="file" id="file-upload" name="file_upload" accept=".dcm" multiple="multiple" value="請選擇檔案" />
                <button type="button" id="file-btn">上傳</button>
            </div>
            <!-- <form method="POST" action="/api/data/upload" class="uploadform m-1" enctype="multipart/form-data">
                <div class="d-flex m-2">
                    <input type="file" id="file-upload" name="file_upload" accept=".dcm" multiple="multiple" value="請選擇檔案" />
                    <button type="submit" id="file-btn">上傳</button>
                </div>
            </form> -->
        </div>
    </section>
    <section class="container files-data">
        <div class="row justify-content-center">
            <!-- <div class="btn-block">
                <button id="check-btn" class="check-btn" type="submit">送出選擇資料</button>
            </div> -->
            <div class="main-block m-2" id="main-block">
                <!-- <div class="sub-block">
                    <div class="img-block">
                        <img src="" alt="">
                    </div>
                    <p>file_name</p>
                    <p>patient ID：</p>
                    <p>patient Name：</p>
                    <input type="radio" value=0>
                </div> -->
                <!-- <div class="sub-block">
                    <div class="img-block">
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </div>
                    <p>file_name</p>
                    <p>patient ID：</p>
                    <p>patient Name：</p>
                </div> -->
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/member.js')}}"></script>
{% endblock %}